<body>
 <div class="background_body">
  <div class="top_page_title">
   <div class=maintitle>
     <h1><i class="fas fa-hand-holding-usd"></i>MoneyApp</h1>
   </div>
  </div>
 <div class=top_page_container>
       <%= link_to "ログイン", login_path, class:"aaa btn btn-primary btn-lg btn-block" %>
       <%= link_to "新規登録", signup_path, class:"aaa btn btn-secondary btn-lg btn-block" %>
 </div>
 <%= render partial: 'layouts/footer' %>
 </div>
</body>
