// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.backgroundbody{
    background-image:url(/images/money.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 1090px;
}

.title{
    text-align:center;
    padding-top:220px;
    height:auto;
}

.maintitle{
    color:white;
}
.container{
    margin-top:90px;
    text-align: center;
}
.box{
    margin:auto;
    background-color:white;
    opacity:0.8;
    height:300px;
    width:45%;
    text-align:center;
}
.login_button,.signup_button{
    display:inline-block;
    font-size:40px;
    margin-top:20%;
    padding:20px;
}
