
.background_body{
    background-image:url(/images/money.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
}
header{
    height:auto;
}
.top_page_title{
    text-align:center;
    padding-top:220px;
    height:auto;
}

.maintitle{
    color:white;
}

.aaa{
    color:white;
}
.btn.btn-primary.btn-lg.btn-block,.btn.btn-secondary.btn-lg.btn-block{
    width: 40%;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
}

.top_page_container{
    margin-top:80px;
}