// Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mypage_container{
    background-color:#EEEEEE;
    height:100%;
}

.welcomeuser{
    padding-top:75px;
    margin-left:30px;
    font-size:30px;
}
.menu_container{

}
.menu_box{
    border: solid 3px black;
    border-radius: 9px;
    background-color:#FFCC99;
    margin:50px 30%;
    height:auto;
}
.menu_title{
    text-align:center;
    font-family: 'Caveat', cursive;
}
.menulist{
    padding:20px;
}
.btn.btn-primary{
    width:40%;
}
.btn.btn-success{
    width:40%;
}
.record_watch{
    margin-top:20px;
}
.btn.btn-info{
    width:45%;
    margin-top:20px;
}
.card.text-center{
    margin:30px 0px;
}
.mypage.btn-group{
    width:45%;
    padding:0px 30px;
}