.users_login_box{
    background-color:white;
    width:20%;
    height:45%;
    margin:auto;
    
}
.users_login_container{
    padding-top:260px;
}
.navbar-brand.users_login{
    padding:20px 70px;
    color:black;
    font-size:30px;
}