<%= render partial: 'layouts/header' %>
<div class="mypage_container">
 <h1 class="welcomeuser">ようこそ<%= current_user.username %>さん</h1>
 <div class="menu_container">
   <div class="menu_box">
   <h2 class="menu_title">Infomation</h2>
     <div class = "menulist">
      
      <div class="card text-center">
        <div class="card-header">
          記録しよう
        </div>
        <div class="card-body">
            <a href="https://b35d31f38bf146ceab70f1bfc3b4f541.vfs.cloud9.us-east-2.amazonaws.com/income_records/new">
              <button type="button" class="btn btn-primary">
                <i class="fas fa-sign-in-alt"></i> 収入登録
              </button> 
            </a>
          
            <a href="https://b35d31f38bf146ceab70f1bfc3b4f541.vfs.cloud9.us-east-2.amazonaws.com/expense_records/new">
              <button type="button" class="btn btn-success">
                <i class="fas fa-sign-out-alt"></i> 支出登録
              </button>
            </a>

            <div class="btn-group">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-plus-circle"></i> カテゴリの追加
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="https://b35d31f38bf146ceab70f1bfc3b4f541.vfs.cloud9.us-east-2.amazonaws.com/original_income_categories/new">収入カテゴリの追加</a>
                <a class="dropdown-item" href="https://b35d31f38bf146ceab70f1bfc3b4f541.vfs.cloud9.us-east-2.amazonaws.com/original_expense_categories/new">支出カテゴリの追加</a>
              </div>
            </div>
        </div>
      </div>
 
       <div class="card text-center">
        <div class="card-header">
          記録結果を見よう
        </div>
        <div class="card-body">
          <p><a href="https://b35d31f38bf146ceab70f1bfc3b4f541.vfs.cloud9.us-east-2.amazonaws.com/simple_calendar/top">カレンダー</a></p>
          <p><a href="https://b35d31f38bf146ceab70f1bfc3b4f541.vfs.cloud9.us-east-2.amazonaws.com/reports/result">今月のレポート</a></p>
        </div>
      </div>

       <div class="card text-center">
        <div class="card-header">
          その他
        </div>
        <div class="card-body">
         <button type="button" class="btn btn-info"><i class="fas fa-chart-line"></i> 資産運用シミュレーション</button>
         <button type="button" class="btn btn-info"><i class="fas fa-comment-dollar"></i> 貯金シミュレーション</button>
         <button type="button" class="btn btn-info"><i class="fas fa-cog"></i> 登録内容の編集</button>
        </div>
      </div>

     </div>
   </div>
 </div>
</div>
<%= render partial: 'layouts/footer' %>