<%= render partial: 'layouts/header' %>
<div class="mypage_container">
 <h1 class="welcomeuser">ようこそ<%= current_user.username %>さん</h1>
 <div class="menu_container">
   <div class="menu_box">
   <h2 class="menu_title">Infomation</h2>
     <div class = "menulist">
      
      <div class="card text-center">
        <div class="card-header">
          記録しよう
        </div>
        <div class="card-body">
         
              <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-sign-in-alt"></i> 収入登録
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="https://b35d31f38bf146ceab70f1bfc3b4f541.vfs.cloud9.us-east-2.amazonaws.com/basic_income_records/new">基本項目</a>
                <a class="dropdown-item" href="https://b35d31f38bf146ceab70f1bfc3b4f541.vfs.cloud9.us-east-2.amazonaws.com/original_income_records/new">オリジナル項目</a>
              </div>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-sign-out-alt"></i> 支出登録
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="https://b35d31f38bf146ceab70f1bfc3b4f541.vfs.cloud9.us-east-2.amazonaws.com/basic_expense_records/new">基本項目</a>
                <a class="dropdown-item" href="https://b35d31f38bf146ceab70f1bfc3b4f541.vfs.cloud9.us-east-2.amazonaws.com/original_expense_records/new">オリジナル項目</a>
              </div>
            </div>
        </div>
      </div>
 
       <div class="card text-center">
        <div class="card-header">
          記録結果を見よう
        </div>
        <div class="card-body">
          <p><a href=#>カレンダー</a></p>
          <p><a href=#>今月のレポート</a></p>
        </div>
      </div>

       <div class="card text-center">
        <div class="card-header">
          その他
        </div>
        <div class="card-body">
         <button type="button" class="btn btn-info"><i class="fas fa-chart-line"></i> 資産運用シミュレーション</button>
         <button type="button" class="btn btn-info"><i class="fas fa-comment-dollar"></i> 貯金シミュレーション</button>
         <button type="button" class="btn btn-info"><i class="fas fa-cog"></i> 登録内容の編集</button>
        </div>
      </div>

     </div>
   </div>
 </div>
</div>
<%= render partial: 'layouts/footer' %>