<%= render partial: 'layouts/header' %>
<div class="mypage_container">
 <h1 class="welcomeuser">ようこそ<%= current_user.username %>さん</h1>
 <div class="menu_container">
   <div class="menu_box">
   <h2 class="menu_title">MENU</h2>
     <div class = "menulist">
       <p>◆記録しよう</p>
　　　　<div class="record-button_box">
       　<button type="button" class="btn btn-primary" onclick="location.href='https://b35d31f38bf146ceab70f1bfc3b4f541.vfs.cloud9.us-east-2.amazonaws.com/basic_income_records/new'">収入</button>
       　<button type="button" class="btn btn-success" onclick="location.href='https://b35d31f38bf146ceab70f1bfc3b4f541.vfs.cloud9.us-east-2.amazonaws.com/basic_expense_records/new'">支出</button>
        </div>
       <p class="record_watch">◆記録結果を見よう</p>
       <p><a href=#>カレンダー</a></p>
       <p><a href=#>今月のレポート</a></p>
       <p>◆その他</p>
         <button type="button" class="btn btn-info">資産運用シミュレーション</button>
         <button type="button" class="btn btn-info">貯金シミュレーション</button>
         <button type="button" class="btn btn-info">登録内容の編集</button>
     </div>
   </div>
 </div>
</div>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>